/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

/**
* Change summary colors to black. Looks weird on small screens
**/
.ui-post-summary
    color black !important

.ui-post-date
    color black !important

.ui-post-tag
    color black !important
